body{
    background-color: #f3e5d8;
}

main{
    background-color: white;
    width: 50%;
    height: auto;
    margin: 80px auto 0px;
    border-radius: 15px;
    padding: 30px;
}

.image-omelette img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.description h1{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-size: 50px;
}

.description ,p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 23px;
    margin-bottom: 50px;
}

h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.preparation-title{
    margin-left: 1%;
    color: #881645;
    font-weight: 700;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.preparation{
    width: 100%;
    height:auto;
    padding: 10px 10px 10px;
    background-color: #fff1f9;
    border-radius: 10px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.preparation-time{
    color: #585858;
    font-weight: 500;
    font-size: 20px;
}

